/*header*/
header {
  font-size: 50px;
  font-weight: bold;
  background-color: #c7b186;
  border: 2px solid #a89058;
  border-radius: 5px;
  padding: 30px 5px;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box; 
}
h1 {
  font-size: 35px;   
}

a {
  font-size: 35px;
  transition: 0.3s;
}

/* sidebar*/
/* sidebar */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #cfbd97;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  border: 2px solid #a89058;
  z-index: 1;
}

.sidebar a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 25px;
  color: rgb(0, 0, 0);
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  background-color: #a89058;
}

#content {
  margin-left: 0;
  transition: margin-left 0.5s;
  padding: 16px;
}

#toggle-btn {
  transition: 0.5s;
  position: fixed;
  top: 35px; /* Adjust based on the height of the header */
  left: 20px;
  z-index: 3; /* Make sure the button is on top of the header */
  font-size: 20px;
  cursor: pointer;
  border-radius: 100%;
  background-color: #cfbd97;
  color: rgb(0, 0, 0);
  padding: 10px 14px;
  border: none;
}